body {
    padding: 15px;
    background-color:#A2EAE2;
}

h1 {
    margin-bottom:20px;
}
#xy
{
   background-color:#025464;
}
.custom-width {
  width: 200px; 
}
.img1
{
    width:2rem;
}